<% include ./partials/header %>
<div class="container-fluid">
  <header class="jumbotron text-center p-2">
    <h1><i class="fas fa-unlock-alt"></i> Login</h1>
  </header>
  <main class="row text-center" id="Login">
    <form class="formPage" action="/login" method="POST">
      <div class="form-group">
        <input class="form-control mb-2" type="text" name="username" placeholder="Username">
        <input class="form-control mb-2" type="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-success mb-2 btn-block">Login</button>
        <a class="btn btn-sm btn-link mb-2" href="/campgrounds">Go Back</a>
      </div>
    </form>
  </main>
</div>
<% include ./partials/footer %>